<%- include("navbar") %> 
<h3>Registrazione</h3>
<div class="col-md-6 form"> 
    <form action="/" method="post" class="row g-3 form">
    <div class="col-md-6"><input class="form-control" type="text" name="nome" placeholder="Nome"></input></div>
    <div class="col-md-6"><input class="form-control" type="text" name="cognome" placeholder="Cognome"></input></div>
    <div class="col-md-6"> <input class="form-control" type="text" name="email" placeholder="E-mail"></input></div>
   <div class="col-md-6"><input class="form-control" type="text" name="username" placeholder="Username"></input></div>
    <div class="col-md-12"><input class="form-control" type="text" name="password" placeholder="Password"></input></div>
    <!-- <div class="col-md-12"><input class="form-control" type="text" name="name" placeholder="Conferma Password"></input></div> -->
    <div class="col-md-6"> <input class="form-control" type="text" name="citta" placeholder="Città"></input></div>
   <div class="col-md-6"><input class="form-control" type="text" name="indirizzo" placeholder="Indirizzo"></input></div>
   <div class="col-md-6"><input class="form-control" type="text" name="telefono" placeholder="Telefono"></input></div>
   <div class="col-md-12"><button class="btn btn-primary" type="submit">Cliccami</button></div> 
    
</form>
</div>

<%- include("footer") %> 
